@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #070123;
}

@font-face {
  font-family: 'PixelifySans-Regular';
  src: url('./assets/fonts/PixelifySans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Offside-Regular';
  src: url('./assets/fonts/Offside-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Righteous-Regular';
  src: url('./assets/fonts/Righteous-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.pixel {
  font-family: 'PixelifySans-Regular', sans-serif;
}

.font-offside {
  font-family: 'Offside-Regular', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat-Regular', sans-serif;
}

.font-righteous {
  font-family: 'Righteous-Regular', sans-serif;
}

.text-glow {
  text-shadow:
    0 0 15px currentColor,
    0 0 30px currentColor,
    0 0 45px currentColor;
}